.btn {
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  background: linear-gradient(
    135deg,
    rgb(95, 212, 248),
    rgb(245, 154, 167)
  );
  color: #fff;
  cursor: pointer;
box-shadow: 5px 5px 15px rgb(173, 216, 230), 5px 5px 15px rgb(255, 182, 193),
    5px 5px 15px rgb(182, 255, 215), 5px 5px 15px rgb(255, 182, 234);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
  width:60%;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
  background-color: red;
  color: black;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}
