.sign-in-container {
  display: flex;
  align-content: center;
  justify-content: center;
}
.sign-in-btn {
  height: auto;
  position: absolute;
  top: 0px;
  right: 10px;
  width: 85px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.744);
  padding-bottom: 10px;
  font-size: 16px;
}
.userInputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.505);
  border-radius:10px;
  position: relative;
  gap: 10px;
  padding: 10px;
  width:40%;
}
.data-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}

.save {
  height: 35px;
  width: fit-content;
  border-radius: 5px;
  background-color: rgb(28, 244, 28);
  box-shadow: none;
  color:white;
  padding: 5px;
  font-weight:400;
}
.delete {
  height: 35px;
  width: fit-content;
  border-radius: 5px;
  background-color: red;
  box-shadow: none;
  padding: 5px;
  color:white;
  font-weight:400;
}

.close {
  position: absolute;
  background-color: red;
  top: 0px;
  right: 0px;
  cursor: pointer;
  height:30px;
  width:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
  color:white;
  font-family:sans-serif;
  border:none;
  border-radius:0px 7px 0px 0px;
}
